[submodule "third-party/matplotlib-cpp"]
	path = third-party/matplotlib-cpp
	url = https://github.com/lava/matplotlib-cpp.git
[submodule "third-party/parallel-hashmap"]
	path = third-party/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "third-party/xxhash_cpp"]
	path = third-party/xxhash_cpp
	url = https://github.com/RedSpah/xxhash_cpp.git
[submodule "third-party/streaming-percentiles"]
	path = third-party/streaming-percentiles
	url = https://github.com/sengelha/streaming-percentiles.git
